<div>
	<h2>Last measures</h2>
	<div class="row">
  		<div class="col">
		    <div ngbDropdown class="d-inline-block">
		      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Last {{selectedCount}} measures</button>
		      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
		        <button *ngFor='let countOption of countOptions' (click)="selectCountOption(countOption)" ngbDropdownItem>{{countOption}}</button>
		      </div>
		    </div>
  		</div>
  	</div>

	<table class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Temperature</th>
				<th scope="col">Room</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let measure of measures | async">
				<td>{{measure.datetime}}</td>
				<td>{{measure.temp}}</td>
				<td>{{measure.room}}</td>
			</tr>
		</tbody>
	</table>
</div>